<h1 class="formTitle">FORMULAIRE</h1>

<form #form="ngForm" (ngSubmit)="form.valid && onSubmit()" class="formContent">
    <fieldset>
        <label for="prenom">Firstname:</label>
        <input type="text" id="prenom" name="prenom" [(ngModel)]="model.firstname" #prenom="ngModel" required minlength="3" maxlength="15">
    </fieldset>
    <div *ngIf="form.submitted && prenom.errors">
        <span *ngIf="prenom.errors?.['required']">Le {{prenom.name}} est obligatoire</span>
        <span *ngIf="prenom.errors?.['minlength']">La longueur minimal doit être supérieur à 3</span>
        <span *ngIf="prenom.errors?.['maxlength']">La longueur maximal doit être supérieur à 15</span>
    </div>

    <fieldset>
        <label for="nom">Lastname:</label>
        <input type="text" id="nom" name="nom" [(ngModel)]="model.lastname" #nom="ngModel" required minlength="3" maxlength="15" >
    </fieldset>
    <div *ngIf="form.submitted && nom.errors">
        <span *ngIf="nom.errors?.['required']">Le {{nom.name}} est obligatoire</span>
        <span *ngIf="nom.errors?.['minlength']">La longueur minimal doit être supérieur à 3</span>
        <span *ngIf="nom.errors?.['maxlength']">La longueur maximal doit être supérieur à 15</span>
    </div>

    <fieldset>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" [(ngModel)]="model.email" #email="ngModel" email required>
    </fieldset>
    <div *ngIf="form.submitted && email.errors">
        <span *ngIf="email.errors?.['required']">L'email est obligatoire</span>
        <span *ngIf="email.errors?.['email']">L'email est invalide</span>
    </div>

    <fieldset>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
    </fieldset>
    <div *ngIf="form.submitted && password.errors">
        <span *ngIf="password.errors?.['required']">Le {{password.name}} est obligatoire</span>
    </div>
    <button type="submit">VALIDATION</button>
</form>

